@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;700;800&display=swap');

@font-face {
	font-family: 'Apparel';
	font-weight: 400;
	src: url(../fonts/ApparelRegular.ttf);
}
@font-face {
	font-family: 'Apparel';
	font-weight: 700;
	src: url(../fonts/ApparelBold.ttf);
}
@font-face {
	font-family: 'Apparel';
	font-weight: 900;
	src: url(../fonts/ApparelBlack.ttf);
}
